/*VARIABLES CSS*/
:root {
	/*FONTS*/
	--title-header: "Satisfy", cursive;
	--subtitle-header: "Courgette", cursive;
	--main-font: "Roboto", sans-serif;

	/*COLORS*/
	--main-color: #fff;
	--sub-color: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*ESTILOS GENERALES*/
html {
	scroll-behavior: smooth;
}

.input {
	height: 30px;
	outline: none;
}
/*========== Variables Dark theme ==========*/
body.dark-theme {
	/* HSL color mode */
	--main-color: hsl(170, 86%, 78%);
	--sub-color: hsl(180, 2%, 23%);
}
/*========== Button Dark/Light ==========*/
.nav__btns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.change-theme {
	position: relative;
	z-index: 3;
	font-size: 1.5rem;
	color: hsl(0, 0%, 100%);
	margin-right: 1rem;
	cursor: pointer;
}
.change-theme:hover {
	color: hsl(167, 69%, 61%);
}

/*?HEADER*/
.header {
	background-image: radial-gradient(
			224.24% 668.5% at 14.41% -14.14%,
			rgba(0, 0, 0, 0.57) 44.5%,
			rgba(255, 255, 255, 0) 67.11%
		),
		url(../img/header.png);
	background-size: 100% 100%;
	padding: 0.625rem 1rem;
}
.header__title {
	width: 100%;
	height: 45px;
	margin-top: 8px;
	margin-left: 16px;
	font-weight: 600;
	font-size: 1.875;
	line-height: 150%;
	color: var(--main-color);
	font-family: var(--title-header);
}

/*todo=========CONTAINER-FILTROS==================*/
.filter__container {
	width: 92%;
	max-width: 60rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	padding: 0.625rem;
	background-color: rgba(228, 228, 234, 0.8);
	border-radius: 0.4rem;
	font-family: var(--main-font);
	font-size: 0.75rem;
	margin: 0 auto;
	margin-top: 0.3rem;
}

.filter__paises {
	width: 94%;
	background: url(/scr/images/ubicacion.svg) no-repeat rgba(255, 255, 255, 0.75);
	background-size: 1rem 1rem;
	background-position-x: 0.312rem;
	background-position-y: center;
	padding: 0.4rem;
	font-weight: 400;
	padding-left: 8%;
}
.filter-input {
	width: 46%;
	gap: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	background: transparent;
	bottom: 0;
	color: transparent;
	height: auto;
	left: -1.75rem;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}
.filter__date,
.filter__dateTo {
	background: url(/scr/images/signout.svg) no-repeat rgba(255, 255, 255, 0.8);
	background-size: 1rem 1rem;
	background-position-x: 0.312rem;
	background-position-y: center;
	border: 1px solid gray;
	font: normal 400 16px 150% var(--main-font);
	color: #000;
	padding-left: 12%;
}
.filter__prices {
	background: url(/scr/images/usd-circle.svg) no-repeat
		rgba(255, 255, 255, 0.75);
	background-size: 1rem 1rem;
	background-position-x: 0.312rem;
	background-position-y: center;
	font-weight: 400;

	padding-left: 12%;
}
.filter__sizes {
	background: url(/scr/images/bed.svg) no-repeat rgba(255, 255, 255, 0.75);
	background-size: 1rem 1rem;
	background-position-x: 0.312rem;
	background-position-y: center;
	font-weight: 400;
	padding-left: 15%;
}
/*===========Button CLEAR===========*/
.filter__clear {
	width: 3.75rem;
	height: 1.563rem;
	background: rgba(51, 51, 51, 0.88);
	border: 1px solid var(--sub-color);
	border-radius: 0.6rem;
	color: var(--main-color);
	font-size: 1rem;
	font-weight: 600;
	margin-left: 74%;
	/*margin-top: 5px;
	padding: 9px 32px; */
	cursor: pointer;
}
.Filter__Clear:active {
	transform: translateY(1px);
}

/*?==========MESSAGE CONTAINER==========*/
.message__title {
	display: none;
	color: var(--main-color);
	font-family: var(--subtitle-header);
}

/*FOOTER*/
.footer {
	display: block;
	margin-top: 4.5rem;
	color: hsl(220, 32%, 12%);
	text-align: center;
	font-size: 0.75rem;
}

/*todo MEDIA QUERIES*/

@media screen and (min-width: 600px) {
	.header {
		background-size: 100% 125%;
	}
	.header__title {
		margin-top: -0.5rem;
		padding-bottom: 0.8rem;
		font-size: 2.22rem;
	}
}

/**PANTALLAS GRANDES*/
@media screen and (min-width: 1024px) {
	.header {
		background-size: 100% 140%;
		padding: 4rem 4.5rem;
	}
	.header__title {
		font-size: 4.5rem;
		margin-bottom: 1.2rem;
	}
	.filter__container {
		flex-wrap: nowrap;
		max-width: none;
		margin-top: 4.7rem;
		padding: 0rem;
		background-color: transparent;
	}
	.filter__paises {
		width: 20.8rem;
	}
	.filter__date,
	.filter__dateTo,
	.filter__paises,
	.filter__prices,
	.filter__sizes {
		font-size: 14px;
		width: 20rem;
		padding-left: 5%;
		background-size: 1.2rem 1.2rem;
	}
	.filter__clear {
		margin-left: 1.5rem;
		padding: 0.5rem;
		height: 2.3rem;
		align-items: center;
		border: 2px solid var(--sub-color);
		border-radius: 0.5rem;
		font-size: 1.1rem;
	}

	.message__title {
		display: block;
		font-family: var(--subtitle-header);
		font-size: 2.8rem;
		margin-top: 2.6rem;
	}
}
